@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مجمع نخبگان جوان ابرکوه</h1>
    <p class="lead">منجا متشکل از جمعی از بچه های پر تلاش  و دغدغه مند شهرستان ابرکوه</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>خبر نامه منجا</h2>
        <p>
            در این قسمت میتوانیداز اخبار منجا مطلع شوید
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>عکس های منجا</h2>
        <p>این جا میتوانید عکس های مارا مشاهده کنید</p>
        </div>
    <div class="col-md-4">
        <h2>نهاد های مرتبط با منجا</h2>
        </div>
</div>